{% extends "Admin/admin-layout.njk" %}

{% block content %}

<section>
    <div id="form_head">
        <h2>Editando chef</h2>
        <div>
            <form method="POST" action="/admin/chefs?_method=DELETE">
                <input 
                    type="hidden" 
                    name="id" 
                    value={{item.id}}
                >
                <button 
                    class="btn" 
                    id="del" 
                    >
                    Deletar
                </button>
                <button 
                    type="submit" 
                    form="recipe_form" 
                    class="btn" 
                    id="save"
                    >
                    Salvar chef
                </button>
            </form>            
        </div>        
    </div>
    
    <form class="recipe-form" id="recipe_form" method="POST" action="/admin/chefs?_method=PUT">
        {% include 'Admin/chefs/fields.njk' %}

        <input 
            type="hidden" 
            name="id" 
            value={{item.id}}
        >        
    </form>
</section>

    <script src="/scripts.js"></script>
{% endblock content %}