{% extends "Admin/admin-layout.njk" %}


{% block content %}
<section>
  <div id="form_head">
    <h2>Chef: {{chef.name}}</h2>
    <div>
      <a href="/admin/chefs/{{ chef.id }}/edit">
        <button 
          type="submit" 
          form="recipe_form" 
          class="btn" id="save"                    
          >                    
          Editar chef
        </button>
      </a>
    </div>
  </div>

  <div class="recipe">
    <div class="chef-header">
      <img id="chef_img" src={{chef.avatar_url}} alt="{{chef.name}}">
      <h1>{{chef.name}}</h1>
      <h2 class="most-author">{{chef.total_recipes}} receitas</h2>
    </div>

    <div class="recipe-content">
      <div class="topic">
        <div class="recipe-item">
          <h3>Receitas</h3>
        </div>
        <div class="topic-content" id="ingredients">
          <ul>
            {% for recipes in chef.recipes %}
              <li>- {{recipes}}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

  <script src="/scripts.js"></script>
{% endblock content %}