{% extends "Users/layout.njk" %}

{% block search %}
  <div id="search">
    <form action="/chefs" method="GET">
      <input 
        type="text" 
        name="filter" 
        id="search_field" 
        placeholder="Buscar um chef"
        value={{filter}}
      >
      <button type="submit">Buscar</button>
    </form>
  </div>
{% endblock %}

{% block content %}
  <main id="site_content">
    <section class="main-chefs">
      {% for chef in chefs %}
        <div id="{{ chef.id }}">
          <div class="chef">
            <a href="/chefs/{{ chef.index }}">
              <img src={{chef.avatar_url}} alt="Chef {{chef.name}}"></a>
            <div>
              <div class="most-content">
                <p>{{chef.name}}</p>
              </div>
              <div class="most-author">
                <p>{{chef.total_recipes}} Receitas</p>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </section>
    <div class="pagination">
      <div 
      class="pagination-content" 
      data-page={{pagination.page}} 
      data-total={{pagination.total}}
      data-filter={{filter}}
      >
      </div>
    </div>
  </main>

{% endblock %}