{% extends "Users/layout.njk" %}

{% block search %}
  <div id="search">
    <form action="/recipes" method="GET">
      <input 
        type="text" 
        name="filter" 
        id="search_field" 
        placeholder="Buscar uma receita"
        value={{filter}}
      >
      <button type="submit">Buscar</button>
    </form>
  </div>
{% endblock %}

{% block content %}

  <main id="site_content">
    <section class="main-recipes">
      {% for recipe in recipes %}
        <div id="{{recipe.id}}">
            <div class="image-container">
              <a href="/recipes/{{recipe.id}}">
                <img src="{{recipe.image}}" 
                alt="Imagem de {{recipe.title}}"
              >
              </a>
            </div>
            <div class="most-content">
              <p>{{recipe.title}}</p>
            </div>
            <div class="most-author">
              <p>por {{recipe.chef_name}}</p>
            </div>
        </div>
      {% endfor %}            
    </section>
    <div class="pagination">
      <div 
      class="pagination-content" 
      data-page={{pagination.page}} 
      data-total={{pagination.total}}
      data-filter={{filter}}
      >
      </div>
    </div>
  </main>
  
{% endblock %}
    