{% extends "Users/layout.njk" %}

{% block search %}
  <div id="search">
    <input type="search" id="search_field" placeholder="Buscar uma receita">
      <button type="submit">Buscar</button>
    </div>
{% endblock %}

{% block content %}

    <main id="site_content">
        <section class="main-recipes">
            {% for item in items %}
                <div id="{{item.id}}">
                    <div class="image-container">
                        <a href="/recipes/{{item.index}}">
                            <img src="{{item.image}}" 
                            alt="Imagem de {{item.title}}"
                            >
                        </a>
                    </div>
                    <div class="most-content">
                        <p>{{item.title}}</p>
                    </div>
                    <div class="most-author">
                        <p>{{item.author}}</p>
                    </div>
                </div>
            {% endfor %}            
        </section>
    </main>

    <script src="scripts.js"></script>
    
{% endblock %}
    