{% extends "Admin/admin-layout.njk" %}

{% block content %}

<section>
    <div id="form_head">
        <h2>Criando receita</h2>
        <div>
            <button 
            type="submit" 
            form="recipe_form" 
            class="btn" id="save"
            >
            Salvar receita
            </button>
        </div>
    </div>
    <form class="recipe-form" id="recipe_form" method="POST" action="/admin/recipes/">
        {% include 'Admin/recipes/fields.njk' %}
    </form>
</section>

    <script src="/scripts.js"></script>
{% endblock content %}